
body{
    font-family: helvetica, arial, sans-serif;
    background-color: #f1f1f1;
}

#caption{
    width:400px;
    padding:10px;
    border-radius: 4px;
    border:1px solid #999;
    font-size: 16px;
    display: inline-block;
}

#caption.invalid{
    border:2px solid red;
}

#btnGenerate{
    width:140px;
    height:40px;
    font-size: 16px;
    background-color: #449d44;
    color:white;
    border:1px solid #166916;
    border-radius:5px;
    cursor: pointer;
    display: inline-block;
}

#btnGenerate:hover{
    background-color: #166916;
    border:1px solid #074607;
}

#dynamicVideo{
    width:1280px;
    height:720px;
    /*display: none;*/
    background-color: #ddd;
    margin-top:10px;
}